################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRUDpractice/FileContentIndex/148c8111-b3ec-4235-a5f3-ca1da1a53418.vsidx
